<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404 | Page not Found</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-light bg-light" >
        <div class="container-fluid" >
          <a class="navbar-brand" href="https://www.cuvette.tech/">
            <img src="/static/logo.png" style="width: 120px; height: 29.24px; left: 50px; top: 3px;" class="d-inline-block align-text-top">
          </a>
          <!-- <a role="button" class="btn btn-outline-danger" href="/logout">Logout</a> -->
        </div>
        

    </nav>
    <img src="/static/error_page.png" alt="Error-page-cartoon" style="position: absolute; width: 500px; height: 563px; left: 470px; top: 140px;">
    <button class="btn btn-primary" onClick="window.location.reload();" style="position:absolute; top:716px; left:659px; height:44px; width:122px; margin-bottom: 10%;">Reload Page</button>
    
</body>
</html>